*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-color: white;
}
#container{
    height: 700px;  
}
#header{
    height: 100px;
    background-color: #d8a7b1;
    width: 100%;
    position: fixed;
    z-index: 2;
 }

#header .img{
    height: 90px;
    border-radius: 50%;
    padding: 5px 0 5px 6px;
}
#header ul{
    float: right;
    margin-top: 35px;
}
#header ul li{
    display: inline;
    margin-right: 30px;
}

#header ul li a{
    font-weight: 900;
    color: rgb(14, 12, 12);
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}
#header ul li a:hover,
#header .active{
    color: aqua;
}
#banner{
    padding-top: 100px;
    background-image: url(img/banner.jpg);
    height: 100vh;
    background-size: cover;
    padding-left: 50px;
    justify-content: flex-start;
}

#banner #content{
    position: absolute;
    top: 50%;
}
#banner #content h1{
    font-size: 40px;
    padding-bottom: 5px;
}
#banner #content h2{
    font-size: 30px ;
    padding-bottom: 5px;
}
#banner #content h3{
    font-size: 25px ;
    padding-bottom: 5px;
}
#banner2 img{
   width: 100%;
   background-size: cover;
   
}

#banner2 #content1{
    justify-content: center;
    margin: 0 20px;
}

#banner2 #content2{
    justify-content: center;
    margin: 0 20px;
}
#content2 img
{
 width: 50%;

}
#banner3 #content1{
    width: 50%;
    background-image: url(img/banner3.jpg);
   height: 50vh;
    
}
#banner3
{
    width: 100%;
    height: auto;
  display: flex;
  flex-direction: row;
  padding: 10%;
}

#container1{
    padding-top: 100px;
    max-width: auto;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;

}

#container #gallery{
    margin: 40px;
    align-items: center;
    float: left;
    width: 350px;
}

#container #gallery img{
   width: 100%;
   height: 200px;
}

#container #gallery .desc{
    text-align: center;
    padding-top: 15px;

}

.contact {
    display: flex;
    justify-content: space-between;     
}
.section-p1 {
    padding: 40px 60px;
}

.photo{
    width: 500px;
    height: 500px;

}
.photo img{
    width: 300px;
    height: 55%;
    border-radius: 2%;
}
.dtls{
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

#fa-solid fa-map-location-dot:before {
    content: "\f0e0";
}



